/* Start Global Rules */
:root {
    --bk-section: #ececec;
    --first-color: #2196f3;
    --second-color: #1787e0;
    --third-color: #777;
    --transition: .3s;
    --padding-top: 100px;
    --padding-bottom: 100px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small Screen */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Mediun Screen */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.main-title {
    border: 2px solid;
    padding: 10px 20px;
    width: fit-content;
    font-size: 30px;
    margin: 0 auto 80px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    transition: var(--transition);
}

.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--first-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: from-left .5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: from-right .5s linear forwards;
}

.main-title:hover {
    color: #fff;
    border-color: #fff;
    transition-delay: .5s;
}

.spikes {
    position: relative;
}

.spikes::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(135deg, #fff 25%, transparent 25%), linear-gradient(-135deg, #fff 25%, transparent 25%);
    z-index: 1;
    background-size: 40px 40px;
}

.dots {
    background-image: url("../images/dots.png");
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
}

.dots-up {
    top: 200px;
    right: 0;
}

.dots-down {
    bottom: 200px;
    left: 0;
}
/* End Global Rules */

/* Start Header */
header {
    --height: 72px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

header .logo {
    font-size: 25px;
    color: var(--first-color);
    font-weight: bold;
    height: var(--height);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    header .logo {
        width: 100%;
        height: 40px;
    }
}

header .menu {
    display: flex;
}

@media (max-width: 767px) {
    header .menu {
        margin: auto;
    }
}

header .menu>li input {
    display: none;
}

header .menu>li input:checked ~ .mega-menu {
    top: calc(100% + 1px);
    z-index: 1;
    opacity: 1;
}

header .menu>li>a,
header .menu>li>label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--height);
    position: relative;
    color: #000;
    padding: 0 30px;
    transition: var(--transition);
    overflow: hidden;
}

@media (max-width: 767px) {
    header .menu>li>a,
    header .menu>li>label {
        padding: 10px;
        font-size: 13px;
        height: 40px;
    }
}

header .menu>li>a::before,
header .menu>li>label::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 4px;
    background-color: var(--first-color);
    top: 0;
    left: -100%;
    transition: var(--transition);
}

header .menu>li>a:hover,
header .menu>li>label:hover {
    color: var(--first-color);
    background-color: #fafafa;
}

header .menu>li>a:hover::before,
header .menu>li>label:hover::before {
    left: 0;
}

/* Start Mega-Menu */
header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 20px;
    background-color: #fff;
    border-bottom: 3px solid var(--first-color);
    z-index: -1;
    opacity: 0;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    transition: top var(--transition), opacity var(--transition);
}

@media (max-width: 767px) {
    header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}

header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width: 991px) {
    header .mega-menu .image img {
        display: none;
    }
}

header .mega-menu .links {
    min-width: 230px;
    flex: 1;
}

header .mega-menu .links li {
    position: relative;
}

header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}


@media (max-width: 767px) {
    header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}

header .mega-menu .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--transition);
}

header .mega-menu .links li:hover::before {
    width: 100%;
}

header .mega-menu .links li a {
    color: var(--first-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
}

header .mega-menu .links li a i {
    margin-right: 10px;
}

/* End Mega-Menu */
/* End Header */

/* Start Landing */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    top: -22px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-5deg);
    transform-origin: top left;
}

.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.landing .text {
    flex: 1;
}

@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}

.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -1px;
}

@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}

.landing .text p {
    font-size: 22px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: var(--third-color);
    max-width: 500px;
}


@media (max-width: 767) {
    .landing .text p {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}


.landing .image img {
    width: 600px;
    position: relative;
    -webkit-animation: up-down 5s linear infinite;
    -moz-animation: up-down 5s linear infinite;
    animation: up-down 5s linear infinite;
}

@media (max-width: 991px) {
    .landing .image img {
        display: none;
    }
}

.landing .down-arrow {

    color: var(--first-color);
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    transition: var(--transition);
}

.landing .down-arrow:hover {
    color: var(--second-color);
}

.landing .down-arrow i {
    -webkit-animation: bouncing 1.5s infinite;
    -moz-animation: bouncing 1.5s infinite;
    animation: bouncing 1.5s infinite;
}

/* End Landing */

/* Start Articles */
.articles {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .card {
    box-shadow: 0 2px 15px 5px rgb(0 0 0 / 15%);
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    transition: transform var(--transition), box-shadow var(--transition);
}

.articles .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px 5px rgb(0 0 0 / 35%);
}

.articles img {
    width: 100%;
    max-width: 100%;
}

.articles .card .text {
    padding: 20px;
}

.articles .card .text h3 {
    margin: 0;
}

.articles .card .text p {
    line-height: 1.5;
    color: var(--third-color);
    margin: 10px 0 0;
}

.articles .card .link {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles .card .link a {
    color: var(--first-color);
    font-weight: bold;
}

.articles .card .link i {
    color: var(--first-color);
}

.articles .card:hover .link i {
    animation: move-right .6s linear infinite;
}

/* End Articles */

/* Start Gallery */
.gallery {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
    background-color: var(--bk-section);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .card {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 12%), 0px 2px 4px 0px rgb(0 0 0 / 13%);
}

.gallery .card .image {
    position: relative;
    overflow: hidden;
}

.gallery .card .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff33;
    opacity: 0;
    width: 0;
    height: 0;
    z-index: 1;
}

.gallery .card .image:hover:before {
    animation: flash .7s;
}

.gallery .image img {
    max-width: 100%;
    transition: var(--transition);
}

.gallery .image:hover img {
    transform: rotate(5deg) scale(1.1);
}

/* End Gallery */

/* Start Features */
.features {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .container .card {
    text-align: center;
    border: 1px solid #ccc;
}

.features .container .card .image {
    position: relative;
    overflow: hidden;
}

.features .container .card .image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.features .container .card .image::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 0px 0px 170px 500px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    transition: var(--transition);
}

.features .container .card:hover .image::after {
    border-width: 170px 500px 170px 0px;
}

.features .container .card .image img {
    max-width: 100%;
}

.features .card h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}

.features .card h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
}

.features .card p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: var(--third-color);
}

.features .card a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--transition);
}

.features .quality .image::before {
    background-color: #f4403699
}

.features .quality h2::after {
    background-color: #f44036
}

.features .quality a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .time .image::before {
    background-color: #00968780;
}

.features .time h2::after {
    background-color: #009688
}

.features .time a {
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .passion .image::before {
    background-color: #03a8f480;
}

.features .passion h2::after {
    background-color: #03a9f4
}

.features .passion a {
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .card:hover a {
    background-position: left top;
    color: #fff;
}

/* End Features */
/* Start Testimonials */
.testimonials {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--bk-section);
    position: relative;
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .container .box {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 4px #00000012;
    border-radius: 6px;
    position: relative;
}

.testimonials .container .box img {
    width: 100px;
    position: absolute;
    border-radius: 50%;
    border: 10px solid var(--bk-section);
    top: -50px;
    right: -10px;
}

.testimonials .container .box h3 {
    margin: 0 0 10px;
    color: var(--first-color);
}

.testimonials .container .box span {
    color: var(--third-color);
    margin-bottom: 10px;
    display: block;
}

.testimonials .container .box .stars .color {
    color: #ffc107;
}

.testimonials .container .box p {
    line-height: 1.5;
    color: var(--third-color);
    margin: 10px 0 0;
}

/* End Testimonials */

/* Start Team Members */
.team-members {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
}

.team-members .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.team-members .box {
    position: relative;
}

.team-members .box::before,
.team-members .box::after {
    content: "";
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    border-radius: 10px;
}

.team-members .box::before {
    width: calc(100% - 60px);
    background-color: #f3f3f3;
    z-index: -2;
}

.team-members .box::after {
    width: 0;
    background-color: #e4e4e4;
    z-index: -1;
    transition: var(--transition);
}

.team-members .box:hover:after {
    width: calc(100% - 60px);
}

.team-members .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.team-members .box .data img {
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--transition);
}

.team-members .box:hover .data img {
    filter: grayscale(100%);
}

.team-members .box .data .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.team-members .box .data .social a {
    height: 30px;
}

.team-members .box .data .social a:hover i {
    color: var(--first-color);
}

.team-members .box .data .social i {
    color: var(--third-color);
    transition: var(--transition);
}

.team-members .box .text {
    padding-left: 80px;
}

.team-members .box .text h3 {
    color: var(--first-color);
    margin-bottom: 0;
    font-size: 22px;
    transition: var(--transition);
}

.team-members .box .text p {
    margin: 10px 0 25px
}

.team-members .box:hover .text h3 {
    filter: grayscale(100%);
}

/* End Team Members */

/* Start Services */
.services {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--bk-section);
    position: relative;
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .box {
    background-color: #fff;
    counter-increment: serv;
    box-shadow: 0px 12px 20px 0 rgb(0 0 0 / 13%), 0px 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--transition);
    position: relative;
    text-align: center;
}

.services .box:hover {
    transform: translateY(-10px);
}

.services .box::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: -3px;
    width: 0;
    background-color: var(--first-color);
    transition: var(--transition);
}

.services .box:hover:before {
    width: 100%
}

.services .box i {
    margin: 40px 0 10px;
    color: #d5d5d5;
}

.services .box h3 {
    color: var(--first-color);
    font-size: 25px;
    margin: 0 0 40px;
}

.services .box .text {
    position: relative;
    padding: 15px;
    background-color: #f9f9f9;
    text-align: right;
    overflow: hidden;
}

.services .box .text::before {
    content: "0" counter(serv);
    position: absolute;
    left: 0;
    background-color: var(--first-color);
    top: 0;
    height: 100%;
    width: 80px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.services .box .text::after {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    height: 101%;
    width: 50px;
    left: 80px;
    top: 0px;
    transform: skewX(-30deg);
}

.services .box .text a {
    color: var(--first-color);
}

/* End Services */

/* Start Skills */
.our-skills {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
}

.our-skills .container {
    display: flex;
    align-items: center;
}

.our-skills img {
    max-width: 100%;
}

@media (max-width: 991px) {
    .our-skills img {
        display: none;
    }
}

.our-skills .skills {
    flex: 1;
}

.our-skills .skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-skills .skills .skill h3 span {
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 4px;
    color: var(--first-color);
}

.our-skills .skills .skill .progress {
    height: 30px;
    background: #eee;
    position: relative;
}

.our-skills .skills .skill .progress span {
    position: absolute;
    background-color: var(--second-color);
    height: 100%;
    top: 0;
    left: 0;
}

/* End Skills */

/* Start How It Works */
.works {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--bk-section);
    position: relative;
}

.works .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

@media (max-width: 991px) {
    .works .container {
        flex-direction: column;
    }
}

.works .container img {
    max-width: 100%;
}

.works .container .boxs .box {
    background-color: #f6f5f5;
    display: flex;
    border: 2px solid #fff;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.works .boxs .box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background: #ededed;
    z-index: -1;
    transition: var(--transition);
}

.works .boxs .box:hover:before {
    width: 110%;
    height: 110%;
}

.works .container .box img {
    width: 50px;
    max-width: 100%;
    margin-right: 20px;
}

.works .container .box .text h3 {
    margin: 0;
    font-size: 22px;
}

.works .container .box .text p {
    line-height: 1.5;
    color: var(--third-color);
    margin: 10px 0 0;
}

/* End How It Works */
/* Start Events */
.events {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
}

.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.events .container img {
    max-width: 450px;
}

@media (max-width: 991px) {
    .events .container img {
        display: none;
    }
}

.events .container .right {
    flex: 1;
}

.events .right .time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
}

.events .right .time .unit {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    text-align: center;
    width: 75px;
    transition: var(--transition);
}

.events .right .time .unit span {
    display: block;
    transition: var(--transition);
}

.events .right .time .unit span:first-child {
    font-size: 35px;
    padding: 15px;
    color: var(--first-color);
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.events .right .time .unit span:last-child {
    padding: 8px;
    font-size: 13px;
    border-top: 1px solid #d4d4d4;
}

.events .right .time .unit:hover,
.events .right .time .unit:hover span:last-child {
    border-color: var(--first-color);
}

.events .right h2 {
    text-align: center;
    font-size: 30px;
}

.events .right p {
    line-height: 1.5;
    color: var(--third-color);
    text-align: center;
}

.events .subscribe {
    width: 100%;
}

.events form {
    margin: 20px auto;
    width: 600px;
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}

@media (max-width: 767px) {
    .events form {
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 0;
    }
}

.events .subscribe form input[type="email"] {
    padding: 20px;
    border-radius: 50px;
    border: none;
    flex: 1;
    caret-color: var(--first-color);
}

@media (max-width: 767px) {
    .events .subscribe form input[type="email"] {
        border-radius: 0;
    }
}

.events .subscribe form input[type="email"]:focus {
    outline: none;
}

.events .subscribe form input[type="email"]::placeholder {
    transition: opacity var(--transition);
}

.events .subscribe form input[type="email"]:focus::placeholder {
    opacity: 0;
}

.events .subscribe form input[type="submit"] {
    border-radius: 50px;
    border: none;
    background-color: var(--first-color);
    color: #fff;
    padding: 10px 25px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: var(--transition);
}

@media (max-width: 767px) {
    .events .subscribe form input[type="submit"] {
        border-radius: 0;
    }
}

.events .subscribe form input[type="submit"]:hover {
    background-color: var(--second-color);
}

/* End Events */

/* Start Pricing */
.pricing {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
    background-color: var(--bk-section);
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}

.pricing .box {
    position: relative;
    box-shadow: 0px 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    background-color: #fff;
    text-align: center;
    z-index: 1;
}

.pricing .box::before,
.pricing .box::after {
    content: "";
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    position: absolute;
    transition: var(--transition);
    z-index: -1;
}

.pricing .box::before {
    top: 0;
    left: 0;
}

.pricing .box::after {
    right: 0;
    bottom: 0;
}

.pricing .box:hover::before,
.pricing .box:hover::after {
    width: 100%;
}

@media (min-width: 1200px) {
    .pricing .box.Popular {
        top: -20px;
    }
}

.pricing .best {
    writing-mode: vertical-rl;
    position: absolute;
    background-color: var(--first-color);
    color: #fff;
    font-weight: bold;
    padding: 10px 10px 35px;
    font-size: 18px;
    right: 20px;
    width: 40px;
}

.pricing .best::before {
    content: "";
    content: "";
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}

.pricing .box h3 {
    font-weight: bold;
    font-size: 25px;
    margin: 30px 0;
    letter-spacing: -1px;
}

.pricing .box img {
    width: 80px;
    margin-bottom: 30px;
}

.pricing .box .price {
    margin-bottom: 20px;
}

.pricing .price .amount {
    display: block;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--first-color);
}

.pricing .price .time {
    color: var(--third-color);
}

.pricing .box ul {
    text-align: left;
}

.pricing .box ul li {
    padding: 20px;
    border-top: 1px solid #eee;
}

.pricing .box ul li::before {
    content: "\f00c";
    font-family: 'Font Awesome 6 free';
    font-weight: bold;
    margin-right: 10px;
    color: var(--first-color);
}

.pricing .box a {
    border: 2px solid var(--first-color);
    color: var(--first-color);
    padding: 15px 20px;
    display: block;
    margin: 30px auto;
    width: fit-content;
    border-radius: 10px;
    font-weight: bold;
    transition: var(--transition);
}

.pricing .box a:hover {
    background-color: var(--first-color);
    color: #fff;
    border-color: var(--bk-section);
}

/* End Pricing */
/* Start Top Videos */
.top-video {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.top-video .container .cols {
    display: flex;
    justify-content: center;
    background-color: var(--bk-section);
    border: 1px solid #ddd;
}

@media (max-width: 991px) {
    .top-video .container .cols {
        flex-direction: column;
    }
}

.top-video .container .cols .left {
    width: 300px;
    background-color: #fff;
}

@media (max-width: 991px) {
    .top-video .container .cols .left {
        width: 100%;
    }
}

.top-video .container .cols .left .name {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
    font-weight: bold;
}

.top-video .container .cols .left ul li {
    padding: 20px;
    border: 1px solid var(--bk-section);
    cursor: pointer;
    transition: var(--transition);
}

.top-video .container .cols .left ul li:hover {
    color: var(--first-color);
    background-color: #fafafa;
}

.top-video .container .cols .left ul li span {
    display: block;
    margin-top: 10px;
    color: var(--third-color);
}

.top-video .container .cols .right {
    background-color: #e2e2e2;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-video .container .cols .right img {
    max-width: 100%;
}

.top-video .container .cols .right .text {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;
}

/* End Top Videos */

/* Start Stats */
.stats {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--bk-section);
    text-align: center;
    background-image: url("../images/stats.jpg");
    background-size: cover;
    position: relative;
}

.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255 255 255 / 85%);
}

.stats h2 {
    font-size: 35px;
    margin: 0 auto 40px;
    position: relative;
}

.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.stats .container .box {
    background-color: #fff;
    position: relative;
    padding: 20px;
}

.stats .container .box::before,
.stats .container .box::after {
    content: "";
    position: absolute;
    height: 0;
    width: 2px;
    background-color: var(--first-color);
    transition: calc(var(--transition) + .5s);
}

.stats .container .box::before {
    left: 0;
    bottom: 0;
}

.stats .container .box::after {
    top: 0;
    right: 0;
}

.stats .container .box:hover:before,
.stats .container .box:hover:after {
    height: 100%;
}

.stats .container .box h3 {
    font-size: 50px;
    margin: 10px auto;
}

.stats .container .box span {
    font-style: italic;
    color: var(--first-color);
    font-weight: bold;
}

/* End Stats */

/* Start discount */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.discount .left {
    background-image: url(../images/discount-background1.jpg);
    background-size: cover;
    color: #fff;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    animation: change-img 5s infinite linear;
}

.discount .left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 149, 243, 0.95);
    z-index: -1;
}

.discount .right {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px) {

    .discount .left,
    .discount .right {
        flex-basis: 100%;
        padding-bottom: 30px;
    }
}

.discount .right .input {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    border: none;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
}

.discount .right textarea.input {
    resize: none;
    height: 200px;
}

.discount .right .input:focus {
    outline: none;
    caret-color: var(--first-color);
}

.discount .right [type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    background-color: var(--first-color);
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    transition: var(--transition);
}

.discount .right [type="submit"]:hover {
    background-color: var(--second-color);
    cursor: pointer;
}

.discount .content {
    text-align: center;
    padding: 0 20px;
}

.discount .content h2 {
    font-size: 35px;
    letter-spacing: -1px;
}

.discount .content p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}

.discount .content img {
    width: 300px;
    max-width: 100%;
}

/* End discount */

/* Start Footer */
.footer {
    background-color: #191919;
    padding: 70px 0 0;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

@media (max-width: 767px) {

    .footer .box:first-child {
        text-align: center;
    }
}

.footer .box h3 {
    color: #fff;
    font-size: 50px;
    margin: 0 0 20px;
}

.footer .box .social {
    display: flex;
}

.footer .box .social li {
    margin-right: 10px;
}

@media (max-width: 767px) {

    .footer .box .social {
        justify-content: center;
    }
}

.footer .box .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: var(--transition);
}

.footer .box .social li:hover a {
    background-color: #1877f2;
    color: #fff;
}

.footer .box .social li:hover:nth-of-type(2) a {
    background-color: #1da1f2;
}

.footer .box .social li:hover:last-of-type a {
    background-color: #f00;
}

.footer .box .text {
    line-height: 2;
    color: #b9b9b9
}

.footer .box .links li {
    padding: 15px 0;
    display: block;
}

.footer .box .links li:not(:last-child) {
    border-bottom: 2px solid #444;
}

.footer .box .links li a {
    color: #b9b9b9;
    transition: var(--transition);
}

.footer .box .links li:hover a {
    padding-left: 15px;
    color: #fff;
}

.footer .box .links li a::before {
    content: "\f101";
    font-family: "Font Awesome 6 free";
    font-weight: bold;
    color: var(--first-color);
    margin-right: 10px;
}

.footer .box .address {
    color: #b9b9b9;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    line-height: 1.5;
}

.footer .box .address i {
    margin-right: 10px;
    color: var(--first-color);
    font-size: 25px;
}

.footer .box .address .info span {
    display: block;
}

.footer .foot {
    text-align: center;
}

.footer .foot img {
    width: 75px;
    border: 3px solid #fff;
    border-radius: 6px;
    margin: 5px;
}

.footer .copy {
    border-top: 1px solid #444;
    padding: 25px 0;
    text-align: center;
    color: #fff;
    margin: 50px 0 0;
    font-size: 20px;
}

.footer .copy i {
    color: #f00;
}

/* End Footer */

/* Start Animation */
@keyframes up-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}

@keyframes from-left {
    50% {
        left: 0;
        height: 12px;
        width: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes from-right {
    50% {
        right: 0;
        height: 12px;
        width: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes move-right {
    100% {
        transform: translateX(10px);
    }
}

@keyframes flash {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        height: 200%;
        width: 200%;
    }
}

@keyframes change-img {

    0%,
    100% {
        background-image: url("../images/discount-background1.jpg");
    }

    50% {
        background-image: url("../images/discount-background2.jpg");
    }
}

/* End Animation */

/* Start Scroll */
::-webkit-scrollbar {
    width: 15px
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: var(--first-color);
}

/* End Scroll */